<% layout('./layout/page') -%>
<% block('title', 'Корсары'); -%>
<link rel="stylesheet" href="/css/ships.css">
<h3>Корабли 3-го ранга</h3>
<p class="img_shop"><img src="/images/verf/3rang_hi.jpg" alt="."></p>
<div class="ul_li">
  <p><strong><%= ship[10].name %></strong><br>
     Корпус: <%= ship[10].hull %><br>
   Паруса: <%= ship[10].sails %><br>
    Трюм: <%= ship[10].hold %><br>
    Скорость: <%= ship[10].speed %><br>
    Маневренность: <%= ship[10].mobility %><br>
    Команда: <%= ship[10].team %><br>
    Орудия(количество): <%= ship[10].guns.number_guns %><br>
    Орудия(фунты): <%= ship[10].guns.funt_guns %><br>
    Требование: Уровень навигации <%= ship[10].navigation %></p>
    <div class="block_div_shop"><span class="span_shop_text">Цена покупки: <%= ship[10].price %> песо</span>
    <form class="form" action="/verf/ships/confirmation" method="get">
      <input type="hidden" name="value_ships" value="10">
      <button type="submit" class="button_buy" id="10">К</button>
    </form></div>
</div>
<div class="ul_li">
  <p><strong><%= ship[11].name %></strong><br>
     Корпус: <%= ship[11].hull %><br>
   Паруса: <%= ship[11].sails %><br>
    Трюм: <%= ship[11].hold %><br>
    Скорость: <%= ship[11].speed %><br>
    Маневренность: <%= ship[11].mobility %><br>
    Команда: <%= ship[11].team %><br>
    Орудия(количество): <%= ship[11].guns.number_guns %><br>
    Орудия(фунты): <%= ship[11].guns.funt_guns %><br>
    Требование: Уровень навигации <%= ship[11].navigation %></p>
    <div class="block_div_shop"><span class="span_shop_text">Цена покупки: <%= ship[11].price %> песо</span>
    <form class="form" action="/verf/ships/confirmation" method="get">
      <input type="hidden" name="value_ships" value="11">
      <button type="submit" class="button_buy" id="11">К</button>
    </form></div>
</div>
<div class="ul_li">
  <p><strong><%= ship[12].name %></strong><br>
     Корпус: <%= ship[12].hull %><br>
   Паруса: <%= ship[12].sails %><br>
    Трюм: <%= ship[12].hold %><br>
    Скорость: <%= ship[12].speed %><br>
    Маневренность: <%= ship[12].mobility %><br>
    Команда: <%= ship[12].team %><br>
    Орудия(количество): <%= ship[12].guns.number_guns %><br>
    Орудия(фунты): <%= ship[12].guns.funt_guns %><br>
    Требование: Уровень навигации <%= ship[12].navigation %></p>
    <div class="block_div_shop"><span class="span_shop_text">Цена покупки: <%= ship[12].price %> песо</span>
    <form class="form" action="/verf/ships/confirmation" method="get">
      <input type="hidden" name="value_ships" value="12">
      <button type="submit" class="button_buy" id="12">К</button>
    </form></div>
</div>

<ul class="list_a">
<li><a href="/verf"><div class="body_div">
  <span class="body_span3"><img src="/images/city/verf2.png"></span>Верфь</div></a></li>
</ul>

<script type="text/javascript">
  var index_ship = '' + <%- JSON.stringify(user.ship.index_ship) %>;
  if (index_ship >= 10 && index_ship <= 12) {
    document.getElementById(index_ship).style.width = '0px';
    document.getElementById(index_ship).style.height = '0px';
    document.getElementById(index_ship).innerHTML = '';
  }

  var err_status_low = <%- JSON.stringify(err_status_low) %>;
  var err_message_low= <%- JSON.stringify(err_message_low) %>;
    if (err_status_low >= 1 && err_status_low <= 9) {
      document.getElementById('err_message_low').innerHTML = err_message_low;
    }
</script>
